body {
    background: #eee;
    font-family: 'Raleway', sans-serif;
}

.main-part {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    place-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .main-part {
        grid-template-columns: repeat(3, 1fr);
    }
}

.title__card {
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.cpanel {
    width: 80%;
    height: 150px;
    background-color: #009d63;
    transition: all .2s ease-in-out;
}

.icon-part {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.icon {
    font-size: 30px;
    color: white;
}


.card-content-part {
    background-color: transparent;
    border-bottom: 1px solid black;
    padding: 5px 0px;
}

.cpanel:hover {
    background-color: white;
}

.cpanel:hover .title__card {
    color: #009d63;
}

.cpanel:hover .icon {
    color: #009d63;
}

p {
    margin: 0;
}